@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.font-pop {
    font-family: "Poppins", sans-serif;
}
.font-jet {
    font-family: 'JetBrains Mono', monospace;
}

@media screen and (320px <= width <= 768px) {
    .img-div{
        margin: 5px 5px 5px 5px;
    }
}

.const img{
    /* box-shadow: 3px 3px 3px 0px #383838; */
    transform: scale(1);
    transition: transform .2s;
    cursor: pointer;
    transition: 400ms;
}


/* Custom Blur Zoom Hover Effect */
.section-container {
    --zoom-in-scale: 1.1;
    --zoom-out-scale: 0.85;
    --hover-bg-color: #7A3E2A;
}

.section-container {
    transition: transform 0.5s ease, filter 0.5s ease;
}

.section-container:hover .box-content {
    filter: blur(6px);
    transform: scale(var(--zoom-out-scale));
}

.box-content {
    transform: scale(1);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.box-content:hover {
    transform: scale(var(--zoom-in-scale)) !important;
    z-index: 3;
    filter: blur(0px) !important;
}

.section-container .inner-wrapper {
    transition: background-color 0.5s ease;
}

.section-container .box-content:hover .inner-wrapper {
    background-color: var(--hover-bg-color) !important;
}