@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.bgCover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../bg/12A1.jpg' );
    min-width: 100vh;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

.font-jet {
    font-family: 'JetBrains Mono', monospace;
}
